
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
}

li a.active {
    color: white;
    background-color: black;
}

#logo {
  width: 300px;
  height: 300px;
  padding: 5px;
}

div {
  text-align: center;

}

#video {
  margin: 0 auto;
  float: right;
}

header {
    background-image: url(nyccity.jpg);
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
   background-position: center;
    height: 100px;
    width: 1000px;

}
nav ul li {
    list-style: none;
    height: 90px;
    text-transform: uppercase;
    background-color: transparent;
    float: right;
    margin-right: 50px;
    display: inline-block;
    }


  
