/*body{
	margin: 0 auto;
	width: 1000px;
	background-color: lightblue;
	text-align: center;
}*/




#gallery-img > div > div {
	display: inline-block;
	width: 300px;
	height: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	/*border: 2px black solid;*/
	background-position: center;
	background-size: auto 300px;
	background-repeat: no-repeat;
	/*position: 	relative;*/	
}

.dre{
	border: 5px black	solid;
	max-width: 	310px;
	padding-bottom: 	200px;
	margin-left: 	10px;
	margin-bottom: 	10px;
	float: left;
}

.dreimg {
background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_small/public/images/homepage-slider/BIG_006_Website_SliderGraphics_HowWeMakeAnImpact.jpg?itok=U8CX2jeC);
position: relative;
padding-top: 	10px;
/*padding-bottom: 	*/
}
.dre article {
	position: 	absolute;
	top: 	350px;
	max-width: 	300px;
	max-height: 	200px;
	padding-left: 	10px;
	border-top: 	5px solid	black;
	font-size: 	28px;	
}


.cube{
	border: 5px black	solid;
	max-width: 	310px;
	padding-bottom: 	200px;
	margin-left: 	10px;
	margin-bottom: 	10px;
	float: left;
}

.cubeimg {
background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_large/public/images/news/11088861584_ed9c47a4bb_c.jpg?itok=4j07_I-J});
position: relative;
padding-top: 	10px;
/*padding-bottom: 	*/
}
.cube article {
	position: 	absolute;
	top: 	350px;
	max-width: 	300px;
	max-height: 	200px;
	padding-left: 	10px;
	border-top: 	5px solid	black;
	font-size: 	28px;	
}

.eazy{
	border: 5px black	solid;
	max-width: 	310px;
	padding-bottom: 	200px;
	margin-left: 	10px;
	margin-bottom: 	10px;
	float: left;
}

.eazyimg {
/*background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_large/public/images/news/11088861584_ed9c47a4bb_c.jpg?itok=4j07_I-J});*/
position: relative;
padding-top: 	10px;
/*padding-bottom: 	*/
}
.eazy article {
	position: 	absolute;
	top: 	350px;
	max-width: 	300px;
	max-height: 	200px;
	padding-left: 	10px;
	border-top: 	5px solid	black;
	font-size: 	28px;	
}

.ren{
	border: 5px black	solid;
	max-width: 	310px;
	padding-bottom: 	200px;
	margin-left: 	10px;
	margin-bottom: 	10px;
	float: left;
}

.renimg {
/*background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_large/public/images/news/11088861584_ed9c47a4bb_c.jpg?itok=4j07_I-J});*/
position: relative;
padding-top: 	10px;
/*padding-bottom: 	*/
}
.ren article {
	position: 	absolute;
	top: 	350px;
	max-width: 	300px;
	max-height: 	200px;
	padding-left: 	10px;
	border-top: 	5px solid	black;
	font-size: 	28px;	
}

.rza{
	border: 5px black	solid;
	max-width: 	310px;
	padding-bottom: 	200px;
	margin-left: 	10px;
	margin-bottom: 	10px;
	float: left;
}

.rzaimg {
/*background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_large/public/images/news/11088861584_ed9c47a4bb_c.jpg?itok=4j07_I-J});*/
position: relative;
padding-top: 	10px;
/*padding-bottom: 	*/
}
.rza article {
	position: 	absolute;
	top: 	350px;
	max-width: 	300px;
	max-height: 	200px;
	padding-left: 	10px;
	border-top: 	5px solid	black;
	font-size: 	28px;	
}

.gza{
	border: 5px black	solid;
	max-width: 	310px;
	padding-bottom: 	200px;
	margin-left: 	10px;
	margin-bottom: 	10px;
	float: left;
}

.gzaimg {
/*background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_large/public/images/news/11088861584_ed9c47a4bb_c.jpg?itok=4j07_I-J});*/
position: relative;
padding-top: 	10px;
/*padding-bottom: 	*/
}
.gza article {
	position: 	absolute;
	top: 	350px;
	max-width: 	300px;
	max-height: 	200px;
	padding-left: 	10px;
	border-top: 	5px solid	black;
	font-size: 	28px;	
}
/*.cubeimg{
	background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_large/public/images/news/11088861584_ed9c47a4bb_c.jpg?itok=4j07_I-J});
position: relative;
}*/
.eazyimg{
	background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_large/public/images/news/Pong.jpg?itok=P5IpXOtk);
);
position: relative;}
.renimg{
	background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_large/public/images/special-events/Web%20Header.JPG?itok=qrOxp7bL);
position: relative;
}
.rzaimg{
	background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_small/public/images/special-events/BHM%2016%20Flyer.jpg?itok=M1oTz3bl);
position: relative;
}
.gzaimg{
	background-image:url(http://www.bigsnyc.org/sites/default/files/styles/column_large/public/images/special-events/10696764656_8909ced79d_b.jpg?itok=-SBJF6Pm);
position: relative;
}

/*p, header{
	width: 	300px;
	position: 	absolute;
	display: 	inline-block;
	top: 	300px;	
	left: 	0px;
}*/




@media (max-width: 750px) {
	body {
		width: 375px;
	}
	#gallery-img > div > div {
		width: 150px;
		height: 150px;
		margin-right: 10px;
		margin-bottom: 10px;
		border: 0;
		background-size: auto 150px;
		background-repeat: no-repeat;
	}	
}

@media (max-width: 374px) {
	body {
		width: 84px;
	}
	#gallery-img > div > div {
		width: 75px;
		height: 75px;
		margin-right: 0;
		margin-bottom: 1px;
		border: 0;
		background-size: auto 75px;
		background-repeat: no-repeat;
	}

}